<div class="main-wrap-spring-batch">
  <h1>What Is Spring Batch?</h1>
  <p>Spring Batch is a lightweight, comprehensive batch framework that is designed for use in developing robust batch applications.</p>
  <br>
  <h1>Why Is Spring Batch Useful?</h1>
  <p>Restartability: It is normally required to restart a batch program from where it had failed
    Different readers and writers: You need the ability to talk to different kinds of data sources and sinks. These include talking to a database, an external messaging service such as JMS, and many others.
    Chunk Processing: If for instance there are a million records to be written to storage, it is a practical idea to split it into manageable chunks of 1000 records each, and write these chinks one at a time. Even if one such chink fails, the other operations are not affected.
    Ease Of Transaction Management: Transaction management should be simple to implement properly, even when using chunk processing.
    Ease of parallel processing: It should be possible to run the batch tasks using parallel processing. For this, it is important that the configuration be simple, so that overhead is minimized.</p>

  <h1>Understanding Spring Batch</h1>
  <h2>A Job in Spring Batch is nothing but a sequence of Steps. Each Step can be configured before execution, with the following attributes:</h2>
  <h3>next: The next Step to execute
    tasklet: The task that needs to be done as part of this Step.
    decision: This decides in which situations this Step needs to be run</h3>

  <br>
  <br>
  <h1>The Job Instance</h1>
  <br>
  <h3>A Job Launcher is used in order to execute a Spring Batch Job. Note the following points about a Job thus created:

    Each execution of a Job is called a Job Instance. Each Job Instance is provided with a unique execution id, which is useful to restart the job if it fails.
    A Job can be configured with parameters. These can be passed to it from the Job Launcher.</h3>
</div>

