<div class="main-wrap">
  <mat-toolbar class="navbar-wrap">
    <button type="button" (click)="drawer.toggle()" mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon"  >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="blog-navbar-header">Blog</span>
    &nbsp;&nbsp;

    <span class="navbar-spacer"></span>
    <div class="navbar-bunch-of-buttons">
      <a mat-flat-button href="https://www.chathumal.com/" target="_blank">Portfolio</a> &nbsp;
      <button mat-raised-button class="blog-navbar-home-button" [routerLink]="['/test']" (click)="goTest()">Test</button> &nbsp;
      <button mat-raised-button class="blog-navbar-home-button" [routerLink]="['/spring-batch']">Spring-Batch</button>
    </div>
    <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container class="example-container" autosize>
    <router-outlet></router-outlet>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button mat-raised-button class="blog-navbar-home-button" [routerLink]="['/test']" (click)="goTest()">Test</button> &nbsp;
      <button mat-raised-button class="blog-navbar-home-button" [routerLink]="['/spring-batch']">Spring-Batch</button>
    </mat-drawer>
  </mat-drawer-container>


  <nav class="navbar">
    <h1 class="logo"><span>Lo</span> Go</h1>
    <ul class="nav-links">
      <li>Home</li>
      <li>About</li>
      <li>Services</li>
      <li>Contact</li>

    </ul>
  </nav>

</div>
